

.employee-info {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.employee-info h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.employee-info p {
  margin: 5px 0;
}

.employee-info .certification {
  font-weight: bold;
}
